
.footerDiv {
    padding:8px;
}

.saving {
    text-align:center;
    padding:8px;
}

.footer {
    background-color: rgba(139, 165, 196, 0.5);
    display: flex;
    color:rgb(94, 93, 93);
    flex-direction: row;
    justify-content: space-between;
}