
.footerDiv {
    padding:10px;
    font-size: 15px;
}

.saving {
    text-align:center;
    padding:8px;
}

.footer {
    border-top:1px solid #ffffff;
    background-color:lightgray;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.footerIcon {
    font-size: 19px;
    padding-right:3px;
    vertical-align: middle;
}

.footerText {
    vertical-align: middle;
}

.saving {
    justify-content: center !important;
}

.disabled {
    opacity: .4;
}
