<!-- <ion-header>
  <ion-toolbar>
    <ion-title>board</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
<div class="csTabs">
  <div class="csTab">
    <span>
      Booked
    </span>
  </div>
  <div class="csTab">
    <span>
      Pending
    </span>
  </div>
  <div class="csTab">
    <span>
      Statistics
    </span>
  </div>

  <div class="activeIndicator">
    <div [routerLink]="['booking' , 'booked']" (click)="goToSection('Booked', tab)" class="csTab">
      <div class="box" #tab [ngStyle]="{'left.px': boxPosition}">
        <div class="shadow">{{clickedTab}}</div>
      </div>
    </div>
    <div [routerLink]="['booking', 'pending']" (click)="goToSection('Pending', tab)" class="csTab"></div>
    <div [routerLink]="['statistics']" (click)="goToSection('Statistics', tab)" class="csTab"></div>
  </div>
</div>
<router-outlet></router-outlet>
<!-- </ion-content> -->