.textAreaWrapper {
    margin:10px 0;
    padding:0;
    border: 1px solid rgb(140, 172, 194);
    border-radius: 2px;
    font-size: 14px;
}

.footer {
    background-color: rgba(139, 165, 196, 0.5);
    display: flex;
    color:rgb(94, 93, 93);
    flex-direction: row;
    justify-content: space-between;
}

.textarea {
    margin-top: 0;
    text-align: left;
    padding:4px;
    background-color: rgb(239, 249, 252);
}

.delete {
    // color:red;
}

.renderedText {
    padding:10px;
    font-size:14px;
}

.footerDiv {
    padding:8px;
}