.cardBody {
    min-height: 90px;
    border-radius: 4px;
    display: flex;
    margin:10px;
    align-items: stretch;
    background-color: #ffff;
    padding:5px;
    position: relative;
    
    .cardPhotoHolder {
        height: 80px;
        width: 80px;
        border-radius: 4px;
        flex-shrink: 0;
        overflow:hidden;

        .cardPhoto {
            height: 100%;
            width: 100%;
            background-color: lightsteelblue;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            p {
                font-size: 11px;
            }
        }
    }

    .cardInfo {
        padding:0 5px;
        div {
            margin:6px 0;

        }

        .cardTitle {
            font-size: 16px;
            // color: rgb(47, 62, 77);
        }
        .cardDate {
            font-size: 14px;
            color:rgb(130, 146, 163);
        }
    }
}

// .bottomRow {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     margin:5px;
//     display: flex;
//     .status {
        
//         font-size: 15px;
//         background: #ffff;
//         margin:8px;
//         display: flex;
       
//         align-items: center;
        
//         .statusCircle {
//             width:12px;
//             height: 12px;
//             border-radius: 50%;
//             margin-right: 5px;
//             background-color: green;
//         }
//     }
    
// }