<div *ngIf="popupData.show" (click)="close($event)" class="overlayBackground">

  <div class="popupBody">
    <div class="title">
      {{popupData.title}}
    </div>
    <div class="otherInfo">
      {{popupData.otherInfo}}
    </div>
    <div class="btnHolder">
      <div class="appBtn ion-activatable ripple-parent" (click)="click($event, 'yes')">Yes
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="appBtn ion-activatable ripple-parent no" (click)="click($event, 'no')">No
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>
</div>