<div *ngIf="!footerData.deleted">
  <div *ngIf="!footerData.done; else display">
    <div class="container">
      <div class="fieldsHolder">
        
        <ion-textarea *ngIf="!values.default; else defaultLabel" auto-grow="true" (keyup)="detectTyping()" [readonly]="footerData.saving"
          [(ngModel)]="values.data.label" class="text" rows="1" (change)="renderText(true)"
           placeholder="Enter label here">
        </ion-textarea>
        <ng-template #defaultLabel>
          <p class="defaultLabel">{{values.data.label+":"}}</p>
        </ng-template>

        <ion-textarea auto-grow="true" (change)="renderText(true)" (keyup)="detectTyping()"
          [readonly]="footerData.saving" [(ngModel)]="values.data.text" class="text" rows="1"
          placeholder="Enter text here">
        </ion-textarea>
      </div>
      <app-element-footer [data]="footerData" (openDeleteCon)="clickOtherFunction = true" (render)="clickFooterDone()" (delete)="delete()"></app-element-footer>
    </div>
  </div>
  <ng-template #display>
    <div class="componentWrapper">
      <app-edit-or-delete-popup *ngIf="showPopup" [isDefault]="values.default" (edit)="edit()" (delete)="delete()" (close)="showPopup = false"
        [deleting]="footerData.saving" class="componentPopup"></app-edit-or-delete-popup>
      <app-labelled-text-display  (click)="showPopup = true" [values]="values"></app-labelled-text-display>
    </div>
  </ng-template>
</div>