<div *ngIf="!footerData.deleted">
  <div *ngIf="!footerData.done; else display">
    <div class="container">
      <div class="fieldsHolder">

        <ion-textarea *ngIf="!values.default; else defaultLabel" auto-grow="true" (keyup)="detectTyping()"
          [readonly]="footerData.saving" [(ngModel)]="values.data.label" class="text" rows="1"
          (change)="renderText(true)" placeholder="Enter label here">
        </ion-textarea>
        <ng-template #defaultLabel>
          <p class="defaultLabel">{{values.data.label+":"}}</p>
        </ng-template>

        <ion-textarea auto-grow="true" (focusin)="showDefaults = true" (focusout)="focusOut()"
          (change)="renderText(true)" (keyup)="detectTyping()" [readonly]="footerData.saving"
          [(ngModel)]="values.data.text" class="text" rows="1" placeholder="Enter text here">
        </ion-textarea>
        <div *ngIf="values.data.defaults && values.data.defaults.length > 0 && showDefaults" class="options">
          <div class="option ion-activatable ripple-parent" *ngFor="let option of values.data.defaults"
            (click)="values.data.text = option; renderText(true)">
            {{option}}
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
        </div>
      </div>



      <app-element-footer [data]="footerData" (openDeleteCon)="clickOtherFunction = true" (render)="clickFooterDone()"
        (delete)="delete()"></app-element-footer>
    </div>
  </div>
  <ng-template #display>
    <div class="componentWrapper">
      <app-edit-or-delete-popup *ngIf="creator.clickedComponent == values._id" [isDefault]="values.default"
        (edit)="edit()" (delete)="delete()" (close)="creator.clickedComponent = null" [deleting]="footerData.saving"
        class="componentPopup"></app-edit-or-delete-popup>
      <app-labelled-text-display
        (click)="creator.clickedComponent = !creator.preview && !values.data.fixed? values._id: null" [values]="values">
      </app-labelled-text-display>
    </div>
  </ng-template>
</div>