<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['tourist/selected']"></ion-back-button>
        </ion-buttons>
        <ion-title>Selected Tourist Spot</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-template #pageElement></ng-template>

</ion-content>

<ion-footer>
    <!-- <ion-toolbar>
        <div class="description">
            <ion-label>Other services</ion-label>
            <p>Click category to view other available services in the area</p>
        </div>
        <app-service-tabs></app-service-tabs>&nbsp;
    </ion-toolbar> -->
    <ion-button expand="block" class="book" [routerLink]="['/tourist/tourist-spot-booking']">Book Now</ion-button>

</ion-footer>