<div class="backgroundOverlay" *ngIf="show" (click)="closeModal($event)">
  <div class="popup" (click)="clickInsidePopup($event)">
    <div class="itemName">
      {{data.itemName}}
    </div>

    <div class="stats">
      <div>
        <div class="percent prcnt">
          <div class="percentBar"
            [ngStyle]="{width: data.quatityPercentage +'%'}">
            <div [ngStyle]="{width: data.manuallyBookedPercent +'%'}" class="manaullyBookedPercent"></div>
          </div>
        </div>
        <div class="quantity">
          <div class="bkd">
            <p>Booked Online: <b>{{data.item.booked}}</b></p>
            <p class="manual">Manually Booked: <b>{{data.item.manuallyBooked}}</b></p>
          </div>
          <div class="quant">
            <p>Available: <b>{{data.itemQuantity - (data.item.booked + data.item.manuallyBooked)}}</b></p>
          </div>
        </div>
        <div class="totalQuant">Total Quantity: <b>{{data.itemQuantity}}</b></div>
      </div>
    </div>
    <div class="addBooking">
      <div class="text">Book Manually</div>

    </div>
  </div>