.outerWrapper {
    padding:10px;
}

div {
    box-sizing: border-box;
}

.photoHolder {
    background-color: gray;
    border-radius: 5px;
    height: 100%;
    width:150px;
    box-sizing: 4px;
    overflow: hidden;
    flex-shrink: 0;
}

.pagePhoto {
    width:100%;
    
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    height: 115px;
    padding:5px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffff;
    display: flex;
    box-shadow: 0px 1px 4px #a1a1a1;
    margin:10px 0;
    flex-direction: row;

}
.pageInfo {
    position: relative;
    padding:5px;
    padding-bottom: 15px;
    width: 100%;

    .title {
        font-size: 16px;
        margin:3px;
        height: 18px;
        overflow: hidden;
    }

    .description {
        color:gray;
        margin: 3px;
        height: 49px;
        overflow: hidden;
        font-size: 13px;
    }
}

.status {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    background: #ffff;
    display: flex;
    margin:8px;
    align-items: center;
    right: 0;

    .statusCircle {
        width:11px;
        height: 11px;
        border-radius: 50%;
        margin-right: 5px;
        background-color: green;
    }
}