<ion-header>
  <ion-toolbar>
    <ion-title>Pages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="outerWrapper lightBackground">
    <div class="list">

      <div class="page" *ngFor="let page of pages" (click)="goToDashBoard(page)">
        <div class="photoHolder">
          <div class="pagePhoto"
            [ngStyle]="{'background-image': page.components[0].data.length > 0? 'url('+page.components[0].data[0].url+')' : '' }">
          </div>
        </div>
        <div class="pageInfo">
          <p class="title">{{page.components[1].data.text && page.components[1].data.text.length > 30? page.components[1].data.text.substring(0,30)+'...': page.components[1].data.text}}</p>
          <p class="description">{{page.components[6].data.text && page.components[6].data.text.length > 100? page.components[6].data.text.substring(0,100)+"...": page.components[6].data.text}}</p>
          <div class="status" [ngClass]="{'onlineBg': page.status == 'approved', 'pendingBg': page.status == 'pending', 'rejectedBg': page.status == 'rejected'}">
            <div class="statusCircle"></div>
            {{page.status == 'approved'? 'Online': 'Pending'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>