.inputField {
    background-color: #ffff;
    border: 1px solid lightgray;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
}
.textInputHolder {
    padding: 10px 5px;
    margin: 5px 0;
    position: relative;
}

.instructions {
    font-size:14px;
    margin:3px;
    color: gray;
}

.hasError {
    ion-label {
        color: red !important;
    }
    ion-input {
        position: relative;
        border:1px solid red !important;
    }
}

.options {
    position: absolute;
    left:0;
    width:100%;
    background-color: #ffff;
    box-shadow: 0px 2px 5px #505050;
    top:45px;
    
    .option {
        padding:10px;
        border-top: 1px solid lightgray;
    }
}

.ripple-parent {
    position: relative;
    overflow: hidden;
  }