<div [class.hasError]="hasError" class="textInputHolder">
  <ion-label>{{values.data.label}}</ion-label>
  <div (click)="showChoices = true" class="inputField" type="selected">
    {{selected}}
   <div *ngIf="showChoices" class="options">
     <div class="option ion-activatable ripple-parent" (click)="select(option)" *ngFor="let option of values.data.choices">{{option.text}}
      <ion-ripple-effect></ion-ripple-effect>
     </div>
   </div>
  </div>
  <p class="instructions">{{values.data.instructions}}</p>
</div>