<!-- <ion-header>
  <ion-toolbar>
    <ion-title>changePassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <form [formGroup]="changePassword" class="change-pass">
    <div class="change-pass">
      <p for="note-change-pass" style="color: gray;"><i>Please input your current password first if you wish to change it!</i></p>
      <label for="password">Current Password</label><br>
      <input type="password" id="password" name="password" formControlName="password" [(ngModel)]="userPassword">
      <div *ngIf="password.invalid && (password.touched || password.dirty)">
        <p id="error" *ngIf="password.errors.required">Password is required</p>
        <p id="error" *ngIf="password.errors.minlength">Password must at least 8 characters</p>
      </div>
    
      <label for="new password">New Password</label><br>
      <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" [(ngModel)]="newUserPassword" >
      <div *ngIf="">
        <p id="error" *ngIf="newPassword.errors.minlength">Password must at least 8 characters</p>
      </div>
      <input type="submit" value="Save Changes">
    </div>
  </form>
</ion-content>