<ion-header>
  <ion-toolbar>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white">
  <ion-grid class="content" padding>
    <ion-row class="row2">
      <ion-col class="loginCard">
        <ion-card>
          <ion-card-header>
            <ion-grid color="primary">
              <ion-row>
                <ion-col size="8">
                  <h3>{{fullName}}</h3>
                </ion-col>
                <ion-col size="4">
                  <!-- <ion-icon name="log-out-outline" (click)="logOut()"> </ion-icon> -->
                  <ion-button
                    fill="outline"
                    size="medium"
                    color="medium"
                    (click)="logOut()"
                    >Log out</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <p *ngIf="reUseOldPassword">
                Retype the password to continue using it.
              </p>
              <ion-item>
                <ion-label position="floating"
                  ><span *ngIf="!reUseOldPassword; else newpass"
                    >New password</span
                  ><ng-template #newpass>Password</ng-template></ion-label
                >
                <ion-input
                  type="password"
                  formControlName="password"
                  clear-input="true"
                ></ion-input>
              </ion-item>
              <ul
                class="valErr"
                *ngIf="(form.get('password').dirty || form.get('password').touched) && form.get('password').errors != null"
              >
                <li
                  *ngFor="let error of form.get('password').errors.validations"
                >
                  {{ error.message }}
                </li>
              </ul>
              <ion-item *ngIf="!reUseOldPassword">
                <ion-label position="floating">Confirm password</ion-label>
                <ion-input
                  type="password"
                  (keyup)="checkPasswordConfirmation()"
                  formControlName="confirmPassword"
                  clear-input="true"
                ></ion-input>
              </ion-item>
              <ul
                class="valErr"
                *ngIf="(form.get('confirmPassword').dirty || form.get('confirmPassword').touched) && form.get('confirmPassword').errors != null"
              >
                <li
                  *ngFor="let error of form.get('confirmPassword').errors.validations"
                >
                  {{ error.message }}
                </li>
              </ul>
              <ion-item>
                <ion-button [disabled]="!form.valid" type="submit"
                  >Submit</ion-button
                >
                <ion-button
                  fill="outline"
                  *ngIf="reUseOldPassword"
                  (click)="notReUse()"
                  color="danger"
                  >Cancel</ion-button
                >
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
