.pageCont {
    height: 100vh;
}

.pageView {
    padding-bottom: 45px !important;

}

.info {
    padding-bottom: 20px;
}

.noBackground {
    background-color: #ffff !important;
}

.otherOptions {
    background-color: rgb(244, 246, 248);
    border-top:1px solid lightsteelblue;
}

.none {
    opacity: .5;
}

.servicesHeader {
    background-color:rgb(244, 246, 248);
    border-bottom: 1px solid lightsteelblue;
    padding:10px;
    margin:0;

    text-align: center;

    .Title {
        font-size: 18px;
        margin:10px 0;
        color:rgb(68, 70, 78);
        font-weight: bold;
    }

    .infoText {
        font-size: 14px;
        margin:0;
        color:rgb(0, 137, 228);
    }
}

.seeMore {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #ffff;
    border-bottom:1px solid lightsteelblue;
    margin:0;
    padding:5px;

    p {
        margin:5px;
    }

    .seeAll {
        color: rgb(1, 125, 248);
    }
}


.parentPageCreatorOption {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(8, 49, 90);
    color:white;
    z-index: 9999999;
    padding:5px;
    font-size: 17px;
    justify-content: space-between;

    .message {
        // padding:10px;
        margin:3px;
        font-size: 19px;
    }

    .messageCont{
        padding:8px;
        border-radius: 3px;

    }

    .options {
        display: flex;
        align-items: center;
        
        p {
            margin:3px;
            padding:10px;
            border-radius: 3px;
        }

        .approve {
            background-color: dodgerblue;
        }

        .decline {
            background-color: rgb(255, 27, 27);
        }
    }
}
