.pageCont {
    height: 100vh;
}

.pageView {
    padding-bottom: 45px !important;

}

.info {
    padding-bottom: 20px;
}

.otherServices {
    display: flex;
    overflow-y:scroll;
}
.otherOptions {
    background-color: rgb(244, 246, 248);
    border-top:2px solid #ffff;
    // margin-top:50px;
}
.servicesHeader {
    background-color:rgb(244, 246, 248);
    border-bottom: 1px solid lightsteelblue;
    padding:10px;
    margin:0;

    text-align: center;

    .Title {
        font-size: 18px;
        margin:10px 0;
    }

    .infoText {
        font-size: 13px;
        margin:0;
        color:rgb(76, 89, 104);
    }
}

.seeMore {
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ffff;
    margin:0;
    padding:7px;

    p {
        margin:8px 5px;
    }

    .seeAll {
        color: rgb(1, 125, 248);
    }
}

.bookBtnCont {
    text-align: right;
}

