

  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-segment color="secondary" scrollable value="" class="col_service">
          <ion-segment-button [routerLink]="['/tourist/service-list']">
            <ion-label>Lodging</ion-label>
            <p># of services</p>
          </ion-segment-button>
          <ion-segment-button>
            <ion-label>Services</ion-label>
            <p># of services</p>
          </ion-segment-button>
          <ion-segment-button>
            <ion-label>Services</ion-label>
            <p># of services</p>
          </ion-segment-button>
          <ion-segment-button>
            <ion-label>Services</ion-label>
            <p># of services</p>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid> 
