.categoryGroup {
    display: flex;
    width: 100%;
    overflow-y: scroll;
}

.categoryName {
    margin:8px 5px;
    font-size: 19px;
    color: rgb(45, 54, 63);
}

.section {
    padding-top: 8px;
    border-bottom:1px solid rgb(182, 181, 181);
    border-top: 1px solid #ffff;
}

.wrapper {
    height: 100%;
    overflow:auto;
}

.gray {
    background-color: lightgray !important;
}