<div *ngIf="!footerData.deleted">
  <div *ngIf="!footerData.done; else displayBlock">

    <div class="serviceContainer">
      <ng-template #pageElement></ng-template>
      <p class="addComp" (click)="showComponentList()">Add info about this service</p>
      <app-element-footer [data]="footerData" (render)="renderService()" (delete)="delete()"></app-element-footer>
    </div>
    
  </div>
  <ng-template #displayBlock>
    <div class="componentWrapper">
      <app-edit-or-delete-popup *ngIf="showPopup" [isDefault]="values.default" (edit)="edit()" (delete)="delete()"
        (close)="showPopup = false" [deleting]="footerData.saving" class="componentPopup"></app-edit-or-delete-popup>
      <app-item-display (click)="showPopup = true" [values]="values"></app-item-display>
    </div>
  </ng-template>
</div>