.serviceContainer {
    padding:10px;
    margin:5px;
    // height: 200px;
    box-sizing: border-box;
    overflow: visible;
} 

.wrapper {
    background:lightgray;
}

.serviceFooter {
    height: 40px;
}