<div *ngIf="!footerData.deleted" class="wrapper">
  <div *ngIf="!footerData.done">
    <ng-template #listInfo></ng-template>
    <p class="addComp" (click)="showComponentList()">Add other more info</p>
    <div class="serviceContainer" #newItem>
      <ng-template #pageElement></ng-template>
    </div>
    <p class="addComp" (click)="addItem()">Add new item</p>
    <app-element-footer class="listFooter" [data]="footerData" (render)="renderItemList()" (delete)="delete()">
    </app-element-footer>
  </div>
  <div *ngIf="footerData.done">
    <div class="componentWrapper">
      <app-edit-or-delete-popup *ngIf="creator.clickedComponent == values._id" [isDefault]="values.default" (edit)="edit()" (delete)="delete()"
        (close)="creator.clickedComponent = null" [deleting]="footerData.saving" class="componentPopup"></app-edit-or-delete-popup>
      <app-item-list-display (click)="creator.clickedComponent = !creator.preview? values._id: null" [values]="values"></app-item-list-display>
    </div>
  </div>
</div>