<div *ngIf="!footerData.deleted">
  <div *ngIf="!footerData.done; else doneBlock" class="textAreaWrapper">
    <ion-textarea [ngClass]="values.styles" auto-grow="true" (change)="hasChanges = true"
      (keyup)="values.data.text? footerData.hasValue = true: footerData.hasValue = false" [readonly]="footerData.saving"
      [(ngModel)]="values.data.text" class="textarea" rows="1" [placeholder]="values.data.placeholder">
    </ion-textarea>
    <app-element-footer [data]="footerData" (render)="renderText()" (openStylePopup)="changeStyle()" (selectStyle)="applyStyle($event)"  (delete)="delete()">
    </app-element-footer>
  </div>

  <ng-template #doneBlock>
    <div class="componentWrapper">
      <app-edit-or-delete-popup *ngIf="showPopup" [isDefault]="values.default" (edit)="edit()" (delete)="delete()"
        (close)="showPopup = false" [deleting]="footerData.saving" class="componentPopup"></app-edit-or-delete-popup>
      <app-text-display [ngClass]="values.styles" (click)="showPopup = true" [values]="values"></app-text-display>
    </div>
  </ng-template>
</div>