<div *ngIf="!footerData.deleted">
  <div *ngIf="!footerData.done; else doneBlock" class="textAreaWrapper">
    <ion-textarea auto-grow="true" [readonly]="footerData.saving" [(ngModel)]="values.data.text" class="textarea" rows="1"
      placeholder="Enter text here">
    </ion-textarea>
    <app-element-footer [data]="footerData" (render)="renderText()" (delete)="delete()">
    </app-element-footer>
  </div>

  <ng-template #doneBlock>
    <p (click)="edit()" class="renderedText">{{values.data.text}}</p>
  </ng-template>
</div>