ion-slides {
    height: 300px;
    background-color: rgb(124, 122, 122);
}

.imageHolder {
    height: 300px;
    display: flex;
    // background-color: blue;
    justify-content: center;
    align-items: center;
}

.small {
    height: 200px !important;
}

.imageCont {
    height:180px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}