<ion-header [translucent]="false">
    <ion-toolbar color="secondary">
        <ion-title class="header">Account Settings</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button content-id="main-content"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment color="secondary" value="user">
        <ion-segment-button value="user" (click)="settings()">
            <ion-label>Account User</ion-label>
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="security" (click)="settings()">
            <ion-label>Account Security</ion-label>
            <ion-icon name="lock-open-outline"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <div *ngIf="account">
        <p>User Account</p>
    </div>
    <div *ngIf="!account">
        <p> Account Security</p>
    </div>
</ion-content>