<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/service-provider/online-pages-list" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="statusCont" >
      <div class="settingLabel">Status</div>
      <div class="onlineStat" (click)="changePageStatus($event)">
        <div class="overlay"></div>
        <div [class.offline]="!online">{{online? "Online / Operating": "Not Operating"}}</div>
        <ion-toggle readOnly color="success" [checked]="online"></ion-toggle>
      </div>
    </div>
  </div>
  <app-confirm-popup [popupData]="popupData"  (clicked)="clicked($event)">
  </app-confirm-popup>
</ion-content>
