<div class="menu boxShadowed">
  <div class="tab">Services Statistics</div>
  <div class="tab">Income Statistics</div>
</div>

<div>
  <div class="itemList boxShadowed">
    <div class="itemName">
      <p>
        Name of the item here
      </p>
    </div>
    <div class="numStatus">
      <div class="quant total">
        <p class="qlabel">Quantity</p>
        <p class="num">100</p>
      </div>
      <div class="quant booked">
        <p class="qlabel">Booked</p>
        <p class="num">40</p>
      </div>
      <div class="quant available">
        <p class="qlabel">Available</p>
        <p class="num">100</p>
      </div>
    </div>
  </div>
</div>