<div class="menu boxShadowed">
  <div class="tab">Services Statistics</div>
  <div class="tab">Income Statistics</div>
</div>

<div>
  <div class="itemList boxShadowed" *ngFor="let service of services">
    <div class="itemName">
      <p>
        {{service.data[0].data.text}}
      </p>
    </div>
    <div class="body">
      <div class="numStatus">
        <div class="quant totalTL">Total</div>
        <div class="quant total">
          <p class="qlabel">Quantity</p>
          <p class="num">100</p>
        </div>
        <div class="quant booked">
          <p class="qlabel">Booked</p>
          <p class="num">40</p>
        </div>
        <div class="quant available">
          <p class="qlabel">Available</p>
          <p class="num">100</p>
        </div>
      </div>
      <div class="items">
        <div class="item" *ngFor="let item of filterItem(service.data)">
          <div>
            <div class="itemTitle">{{getItemName(item)}}</div>
            <div class="itemStats">
              <div class="statsNum">
                <span>
                  Quantity
                </span>
                {{getValue(item.data, 'quantity')}}
              </div>
              <div class="statsNum withBorder">
                <span>
                  Booked

                </span>
                100
              </div>
              <div class="statsNum withBorder">
                <span>
                  Available
                </span>
                100
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>