@import "../../../../variables.scss";

.menu {
    background-color: #ffff;
    padding:14px;
    display:flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-around;
}

.itemList {
    margin:8px;
    // height: 300px;
    border-radius:5px;
    overflow:hidden;
    background-color: #fff;

    .itemName {
        border-top:5px solid rgb(67, 105, 143);
        padding:4px;
        border-bottom: 1px solid lightgray;
        font-size: 15px;
        font-weight: bold;

        p {
            margin:5px;
        }
    }

    .numStatus {
        display: flex;
        padding:4px;
        width:95px;
        flex-shrink: 0;
        overflow:auto;
        // background-color: $lightBg;
        align-items: stretch;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 4px;
        .totalTL {
            background-color:#fff !important;
            margin-top:10px !important;
            margin-bottom:0 !important;
        }
        .quant {
            margin:6px;
            text-align: center;
            flex-grow: 1;
            border-radius: 5px;
            padding:2px;
            background-color:rgb(225, 233, 243);

            p {   
                margin:1px 3px;
                padding:3px;
                color:rgb(52, 69, 82);
                font-size: 14px;
            }

        
            .num {
                font-size: 20px !important;
            }
        }
    }
}

.total {
    border-bottom:2px solid rgb(36, 137, 238);
    color: rgb(14, 110, 206) !important;
}

.booked {
    border-bottom:2px solid rgb(5, 207, 113);
    color:rgb(11, 155, 87) !important;
}

.available {
    border-bottom:2px solid rgb(238, 35, 120);
    color: rgb(185, 11, 84) !important;
}

.body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-direction: row;

    .items {
        overflow:auto;
        flex-grow: 1;
        margin-top: 10px;;
        margin-right:10px;
        height: 250px;
        

        .item {
            padding:2px;
            border-radius: 5px;
            margin:5px 0;
            background-color:rgb(225, 233, 243);

            .itemTitle {
                padding:5px;
                color:rgb(43, 48, 58);
            }
            .itemStats {
                display: flex;
                flex-direction: row;
                font-size: 13px;
                justify-content: space-between;


                .statsNum {
                    padding:5px;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    color:rgb(43, 83, 121);
                    font-size: 13px;


                    span {
                        font-size: 12px !important;
                    }
                }
            }


        }
    }
}