<div *ngIf="page.pageType != 'service_group'; else serviceGroup" (click)="view()" class="pageCard ion-activatable ripple-parent">
  <div class="pageMain">
    <div class="creator">
      <div class="creatorPhotoHolder">
        <div class="creatorPhoto">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </div>
      <div class="creatorInfo">
        <div class="creatorName">{{pageCreator}}</div>
        <div class="dateCreated">{{page.createdAt | date:'short'}}</div>
      </div>
    </div>
    <div class="photoHolder">
      <div class="pagePhoto"
        [ngStyle]="{'background-image': 'url('+pagePhoto+')'}">
        <p *ngIf="page.components[0].data.length == 0" class="noPhoto">No Picture</p>
      </div>
    </div>

    <div class="pageInfo">
      <p class="title" [class.untitled]="!page.components[1].data.text">{{pageTitle}}</p>
      <div class="location">
        <ion-icon name="location-outline"></ion-icon>
        {{pageLocation}}
      </div>
      <p class="description">{{pageDescription}}</p>
    </div>
  </div>
  <div class="spotInfo">
    <div class="cardFooter">
      <div class="ratings">
        <span><b>100</b> tourists visited</span>
        <div class="stars">
          <ion-icon name="star" class="filledStar"></ion-icon>
          <ion-icon name="star" class="filledStar"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <!-- <div (click)="clickOption($event)" class="cardOptions ion-activatable ripple-parent">
    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div> -->
  <!-- <ion-ripple-effect></ion-ripple-effect> -->
</div>
<ng-template #serviceGroup>
  <app-group-of-services [data]="page"></app-group-of-services>
</ng-template>