.holder {
    padding: 15px;
    background-color: rgba(206, 206, 206, 0.3) !important;
    margin:8px;
}

.label {
    font-size: 19px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 600;
}

li {
    padding:5px;
    text-align: left !important;
}

ul, ol {
    margin-top: 0 !important;
}

