.holder {
    padding: 15px;
    margin:8px;
    border-radius: 4px !important;
    overflow: hidden;
    border-radius: 5px;
}

.label {
    font-size: 19px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 600;
}

li {
    padding:5px;
    text-align: left !important;
}

ul, ol {
    margin-top: 0 !important;
}

