.inputField {
    background-color: #ffff;
    border: 1px solid lightgray;
}
.textInputHolder {
    padding: 10px;
    margin: 5px;
}

.instructions {
    font-size:14px;
    margin:3px;
    color: gray;
}