<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/service-provider/online-pages-list" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>view-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event, info, services, tab)">
  <div class="pageCont">
    <app-view-page-component [page]="page" (viewItem)="viewItem($event)"></app-view-page-component>
  </div>
</ion-content>
