.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        padding:5px;
        color:dodgerblue;
        margin: 5px;
    }
    .deleteAccount {
        color:rgb(223, 3, 3) !important;
    }
}

.pageCont {
    align-items: stretch !important;
}