<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/service-provider/online" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container mainLightBg2 pageContent">

  <div class="headerHolder boxShadowed2">
    <div class="header topHead">
      <div class="backBtn">
        <ion-icon class="back" name="chevron-back-outline"></ion-icon>Back
      </div>
      <div class="optionsTop">

        <div class="cancel edit">Edit
          <ion-icon class="editIcon" name="create-outline"></ion-icon>
        </div>
        <div class="cancel">Cancel
          <ion-icon class="cancelIcon" name="close-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="bookingCont">
        <ion-icon name="information-circle-outline"></ion-icon>Booking Info
      </div>
      <div class="transac">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>Transaction
      </div>
    </div>
  </div>
  <!-- <div class="page">
      <div class="cardPhotoHolder">
        <div class="cardPhoto" [ngStyle]="{'background-image': 'url('+photo+')' }">
          <p *ngIf="!photo">No photo</p>
        </div>
      </div>
      <div class="pageInfo">
        <div class="pageName">{{name}}</div>
        <div class="address">{{address}}</div>
      </div>
    </div>
    <div *ngIf="booking.selectedServices.length > 0" class="selectedServices mainLightBg2">
      <div class="sectionTitle title">Selected Services</div>
      <app-selected-service-card [editable]="false" *ngFor="let item of booking.selectedServices" [item]="item">
      </app-selected-service-card>
    </div>
    <div class="inputValueDisplay">
      <app-booking-info-display [inputValues]="booking.bookingInfo"></app-booking-info-display>
    </div> -->
    <router-outlet></router-outlet>
  </div>
</ion-content>