<div class="wrapper">
  <!-- <div *ngIf="!previeImage; else preview" class="innerWrapper">
    <ion-icon class="imageIcon" name="image-outline"></ion-icon>
    <input class="fileInput" type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg">
  </div>
  <ng-template #preview>
    <div class="innerWrapper">
      <img [src]="previewImage" alt="">
    </div>
  </ng-template> -->
  <ion-row>
    <ion-col size="6" *ngFor="let img of images; let i = index;" class="ion-text-center">
      <ion-label>
        {{ img.name }}
        <p>{{ img.createdAt | date:'short' }}</p>
      </ion-label>

      <img [src]="img.url" />
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button color="danger" size="small" (click)="deleteImage(img, i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
  </ion-row>

    <input type="file" #fileInput (change)="uploadFile($event)" hidden="true" accept="image/*" />

    <div class="innerWrapper">
      <img [src]="previewImage" alt="test">
      <ion-fab-button (click)="selectImageSource()">
        <ion-icon class="imageIcon" name="image-outline"></ion-icon>
      </ion-fab-button>
    </div>
  <app-element-footer></app-element-footer>
</div>