.card {
    height: 110px;
    width: 90px;
    overflow:hidden;
    padding:3px;
    border-radius: 3px;
    margin:5px;
    background-color: #ffff;
    display: inline-block;
}

.serviceName {
    margin:4px;
    font-size: 11px;
}

.photoHolder {
    width: 100%;
    height: 70px;
    // border-radius: 3px;
    overflow: hidden;
    background-color: rgb(113, 139, 160);

    .photo {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}