<div class="headerMenu">
  <div class="top">
    <div class="titleAndMenu">
      <div content-id="main-content" class="ion-activatable ripple-parent iconHolder nBg">
        <ion-menu-button content-id="main-content"></ion-menu-button>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="title">ExploreHub</div>
    </div>

    <div class="menu">
      <div class="ion-activatable ripple-parent iconHolder">
        <ion-icon name="search-outline">
        </ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="ion-activatable ripple-parent iconHolder">
        <ion-icon name="notifications-outline">
        </ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="weather iconHolder">
        <!-- <ion-icon name="sunny-outline"></ion-icon>
          <ion-icon name="thunderstorm-outline"></ion-icon> -->
        <ion-icon name="rainy-outline"></ion-icon>
        <!-- <ion-icon name="cloudy-outline"></ion-icon> -->
      </div>
    </div>
  </div>
  <div class="categories">
    <div class="categoryTab ion-activatable ripple-parent">All
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="categoryTab ion-activatable ripple-parent">Island Hopping
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="categoryTab ion-activatable ripple-parent">Beach Resorts
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="categoryTab ion-activatable ripple-parent">Mountains/Peaks
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="categoryTab ion-activatable ripple-parent">Mountains/Peaks
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</div>