@import "../../../variables.scss";

.pageBody {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.appLogo {
  height:80px;
  width:80px;
  background-color: white;
  border-radius: 6px;
  overflow:hidden;
  border: 1px solid white;
  // border-radius: 50%;
  // display: flex;
  // // overflow:hidden;
  // align-items: center;
  // justify-content: center;
  position: relative;
  // background-image: linear-gradient(to top, rgb(192, 217, 241),rgb(255, 255, 255));
  background-color: white;

  .circle {
    width: 37px;
    height: 37px;
    top: 19px;
    border: 8px solid rgb(132, 193, 253);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
 
      ion-icon {
        z-index: 2;
        position: relative;;
        font-size: 100px;
        color:dodgerblue;
        margin:0;
      }

      .line {
        height: 12px;
        width: 35px;
        // border-radius: 30px;
        left: -5px;

        border-radius: 40px;
        position: relative;
        background-color: dodgerblue;
        margin:3px;
      }
  
      .l1 {
        margin-top: 15px;
        background-image: linear-gradient(to right, white,rgb(2, 143, 243));
      }
      .l2 {
        width: 55px;
        background-image: linear-gradient(to right, white,rgb(2, 131, 243));
      }
      .l3 {
        background-image: linear-gradient(to right, white,rgb(2, 163, 243));
      }

  

      .divider {
        width: 100px;
        height: 100px;
        left: 35px;
        top: 35px;
        position: absolute;
        transform: rotate(
    45deg
    );
        background-color: rgb(15, 133, 251);
      }
  
      .divider2 {
        width: 100px;
        height: 100px;
        left: 46px;
        top: -50px;
        position: absolute;
        transform: rotate(
    -45deg
    );
        background-color: rgba(0, 219, 253, 0.6);
      }

      .ex {
        position: absolute;
        height: 12px;
        transform: rotate(45deg);
        width: 100px;
        // border-radius: 30px;
        border-radius: 6px;
        background-color: dodgerblue;
        
      }
      .ex2 {
        position: absolute;
        left: 25px;
        height: 12px;
        transform: rotate(-45deg);
        width: 60px;
        top: 70px;
        border-radius: 5px;
        background-color: dodgerblue;
      }
}

.design {
  width:500px;
  height: 500px;
  position: absolute;
  background-color: rgba(185, 243, 251, 0.2);
  transform: rotate(45deg);
  border-radius: 15px;
  top:-100px;
  right: -500px;
}

.design2 {
  width:500px;
  height: 500px;
  position: absolute;
  background-color: rgba(104, 172, 255, 0.2);
  transform: rotate(45deg);
  border-radius: 15px;
  top:-200px;
  left: -500px;
}
.appTitle {
  color: white;
  z-index: 9999999;
  font-weight: bold;
  text-align: center;
}

.header {
  padding: 40px 0;
  overflow:hidden;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(11, 108, 204),rgb(91, 218, 223));
  justify-content: center;
  align-items: center;
  width: 100%;


}

.formHolder {
  max-width: 300px;
  width: 100%;

}

.inputField {
  width: 100%;
  padding:10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(106, 128, 158);
}

.fieldHolder {
  margin:25px 0;
  position: relative;
  box-sizing: border-box;
}
.hasIcons {
  position: relative;
  .iconHolder {
    position: absolute;

    height: 100%;
    right:0;
    display: flex;
    align-items: center;
    padding:0 9px;

    .fieldsIcon {
      font-size: 25px;
      color:rgb(43, 63, 92);
    }
  }
}
.inputLabel {
  margin:3px 0;
  font-size: 14px;
  color:rgb(96, 119, 141);
}

.validationError {
  color: red;
  position: absolute;
  font-size: 0.8rem;
  background-color: rgb(251, 231, 231);
  z-index: 999;
  border-radius: 5px;
  padding:8px;
  margin:3px 0;
  right:0;
  border:1px solid rgb(255, 140, 140);
  // box-shadow: 0 1px 4px rgb(66, 66, 66);
  // padding:0;
  list-style: none;

  li {
    padding:0;
    margin:0;
  }
}

.submitBtn {
  color:#ffff;
  font-size: 17px;
  padding:12px 40px;
  width:100%;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgb(36, 142, 248), rgb(9, 214, 221));
}

.submitBtnHolder {
  width: 100%;
  text-align: center;
  margin:35px 0;
}

.forgotPassHolder {
  margin:30px 0;
  text-align: center;
}

.textBtn {
  padding:8px;
  text-align: center;
  color: rgb(14, 131, 248);
}

.registerBtn {
  border-radius: 5px;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid dodgerblue;
  color:dodgerblue;
  padding:10px;
  width: 100%;
}

button:focus {
  outline:none;
}

.titleCont {
  padding:10px;
  text-align: center;
  p {
      margin:5px;
      font-size: 20px;
      color: rgb(93, 114, 141);
  }
}

.btnToRight {
  text-align: right !important;
}

