<div class="pageContainer withTwoUser">
  <div class="currentConvoTitle">
    {{conReceiver}}
  </div>
  <div class="noMessages" *ngIf="messages.length == 0">No messages yet!</div>
  <app-message-box *ngFor="let message of messages" [message]="message"
    [position]="message.sender == mainService.user._id? 'right':'left'"></app-message-box>

  <div class="inputMessageHolder">
    <div class="convos">
      <div class="currentConvo">
        <div class="ccPicture">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <div class="ccText">
          <div class="current">
            {{conReceiver}}
          </div>
          <div class="text">Current conversation</div>
        </div>
      </div>
      <div class="otherConvo" (click)="getConversation()">switch to {{conReceiver == receiver.owner? "Admin": "Owner"}}
      </div>
    </div>
    <div class="inputHolder">
      <ion-textarea auto-grow="true" rows="1" [(ngModel)]="message" placeholder="Enter other message here"
        class="inputMessage" type="text">
      </ion-textarea>
      <div class="send boxShadowed2" (click)="send()">
        <ion-icon name="send-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>