<ion-header>
  <ion-toolbar>
    <ion-title>booking-review</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/service-provider/online-pages-list" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selectedServices mainLightBg2">
    <div class="sectionTitle">Selected Services</div>
    <app-selected-service-card *ngFor="let item of booking.selectedServices" [item]="item"></app-selected-service-card>
  </div>
</ion-content>
